<div class="pull-right">
    <input id="dragging"
           class="hidden"
           type="file"
           accept="{{$ctrl.fileAccept}}"
           multiple/>
    <div>
        <span>Upload suboru: </span>
        <a class="cursor-pointer upload-btn" ng-click="$ctrl.fireUploadEvent()">
            <span class="display-block" translate>Upload</span>
        </a>
    </div>
    <p>Novy adresar:
        <input ng-model="$ctrl.mediaService.new_dir"/>
        <button ng-click="$ctrl.createNewDir()">CREATE</button>
    </p>
</div>