<div id="okno">

    <left-menu></left-menu>

    <div id="obsah">
        <div id="header2">
            <h2>Files / Images</h2>
        </div>

        <div style="margin-left:20px; margin-right: 30px">

            <dir-return></dir-return>

            <dir-base></dir-base>

            <file></file>

            <!--&lt;!&ndash; todo componeneta 3 &ndash;&gt;
            <div class="icon" ng-repeat="file in $ctrl.mediaService.files_data | filter:{ type: 'image/png' }">
                <img class="img_icon" src="{{file.thumb_link}}">
                <div class="nazov_suboru">{{file.name}}</div>
                <div class="typ_suboru">
                    <p>PNG</p>
                </div>
                <div class="velkost_suboru">
                    <p>{{file.size}}</p>
                </div>
            </div>

            &lt;!&ndash; todo componeneta 3 &ndash;&gt;
            <div class="icon" ng-repeat="file in $ctrl.mediaService.files_data | filter:{ type: 'text/plain' }">
                <img class="img_icon" src="img/txt.png">
                <div class="nazov_suboru">{{file.name}}</div>
                <div class="typ_suboru">
                    <p>TXT</p>
                </div>
                <div class="velkost_suboru">
                    <p>{{file.size}}</p>
                </div>
            </div>

            &lt;!&ndash; todo componeneta 3 &ndash;&gt;
            <div class="icon" ng-repeat="file in $ctrl.files_data | filter:{ type: 'application/pdf' }">
                <img class="img_icon" src="img/pdf.png">
                <div class="nazov_suboru">{{file.name}}</div>
                <div class="typ_suboru">
                    <p>PDF</p>
                </div>
                <div class="velkost_suboru">
                    <p>{{file.size}}</p>
                </div>
            </div>

            &lt;!&ndash; todo componeneta 3 &ndash;&gt;
            <div class="icon" ng-repeat="file in $ctrl.mediaService.files_data | filter:{ type: '!image/jpeg'} | filter:{ type: '!application/pdf'} | filter:{ type: '!text/plain'} | filter:{ type: '!image/png'} ">
                <img class="img_icon" src="img/plain.png">
                <div class="nazov_suboru">{{file.name}}</div>
                <div class="typ_suboru">
                    <p>any</p>
                </div>
                <div class="velkost_suboru">
                    <p>{{file.size}}</p>
                </div>
            </div>-->

        </div>

    </div>

</div>